<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Thicc SMP | Trang chủ</title>
    <meta name="description" content="Welcome to Thicc SMP Website.">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/img/susgrassblox%20(3).png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/susgrassblox%20(2).png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/susgrassblox%20(1).png">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/susgrassblox%20(3).png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/susgrassblox%20(4).png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/susgrassblox%20(4).png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andada&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/highlight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/scroll.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/sweetalert2.min.css">
    <style>
        @media screen and (max-width: 767px) {
            #alynaa {
                display: none;
            }
        }
        
        #ip {
            text-decoration: none;
            color: #fff
        }
        
        #ip:hover {
            color: rgb(221, 221, 221)
        }
    </style>
</head>

<body>
    <main class="page landing-page" id="main">
        <nav class="navbar navbar-dark navbar-expand-md fixed-top textwhite text-white navigation-clean" style="background: rgb(41,41,41,0.9);padding-bottom: 0px;padding-top: 0px;height: 80px;">
            <div class="container"><a class="navbar-brand" href="#" style="margin-left: 10px;">Thicc SMP</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="border-width: 0px;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="height: 80px;padding-right: 50px;">
                    <ul class="navbar-nav ms-auto" style="height: 80px;">
                        <li class="nav-item"><a class="nav-link" id="home-nav" style="height: 80px;padding-top: 28px;" href="#">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" id="info-nav" href="#info" style="height: 80px;padding-top: 28px;">Giới thiệu</a></li>
                        <li class="nav-item"><a class="nav-link" id="faq-nav" href="#faq" style="height: 80px;padding-top: 28px;">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" id="support-nav" href="#support" style="height: 80px;padding-top: 28px;">Ủng hộ</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="javascript:void(0)" style="height: 80px;padding-top: 28px;">Liên kết</a>
                            <div class="dropdown-menu" style="background: rgb(41,41,41, 0.9);border-width: 0px;"><a class="dropdown-item" href="/discord" style="color: #fff;" target="_blank">Discord</a><a class="dropdown-item" href="/facebook" style="color: #fff;" target="_blank">Facebook</a><a class="dropdown-item" href="https://thiccwiki.qtpc.tech"
                                    style="color: #fff;" target="_blank">Wiki</a><a class="dropdown-item" href="/rgb" style="color: #fff;">RGB Tool</a><a class="dropdown-item" href="https://thiccban.qtpc.tech" style="color: #fff;" target="_blank">Bans</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="highlight-clean" style="background: radial-gradient(rgb(255,255,255) 0%, rgb(0,0,0,0.3) 0%), url(&quot;assets/img/oGMpdV.gif&quot;) top / cover no-repeat;padding-bottom: 0px;height: 500px;padding-top: 150px;min-width: 400px;">
            <div class="container">
                <div class="row text-center" style="height: 350px;">
                    <div class="col-md-6 col-xl-7" style="padding-top: 0px;">
                        <div data-aos="fade-right" data-aos-duration="300" data-aos-delay="700" data-aos-once="true" class="intro" style="padding-top: 30px;padding-right: 10px;padding-left: 10px;background: rgb(41,41,41,0.7);border-top-right-radius: 50px;border-bottom-left-radius: 50px;border-top-left-radius: 5px;border-bottom-right-radius: 5px;padding-bottom: 20px;">
                            <h2 class="text-center" style="color: rgb(255,255,255);font-family: Andada, serif;font-size: 50px;text-shadow: 2px 2px rgba(154,154,154,0.5);">Thicc SMP</h2>
                            <p class="text-center" style="color: rgb(255,255,255);font-size: 18px;">IP: <strong><a href="javascript:void(0)" onclick="copyIP()" id="ip">thiccsmp.qtpc.tech</a></strong><br>Port: Java - <strong>25565</strong> | Bedrock - <strong>19132</strong><br>Version: Java <strong>1.17.x - 1.18.x</strong>                                | Bedrock <strong>mới nhất</strong></p>
                            <p class="text-center" style="color: rgb(255,255,255);">Cùng tham gia với <strong>{{players}} người chơi</strong> nào!</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 offset-lg-0 offset-xl-0 text-center" id="alynaa" style="padding-right: 0px;padding-left: 0px;"><img data-bss-disabled-mobile="true" data-aos="fade-left" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" src="assets/img/xd.png" style="width: 350px;"></div>
                </div>
            </div>
        </section>
        <section class="highlight-clean" style="height: 450px;padding-top: 50px;background: rgb(41,41,41);padding-bottom: 50px;min-width: 400px;">
            <div class="container">
                <div data-aos="fade-up" data-aos-duration="300" data-aos-delay="1100" data-aos-once="true" class="intro" style="min-width: 350px;max-width: 900px;padding-top: 50px;border-top: 1px solid rgb(255,255,255);border-bottom: 1px solid rgb(255,255,255);padding-bottom: 50px;">
                    <h2 class="text-center" style="color: rgb(255,255,255);">Chào mừng bạn đến với Thicc SMP</h2>
                    <p class="text-center" style="color: rgb(255,253,253);">Máy chủ Minecraft SMP an toàn, lành mạnh, vui tươi dành cho mọi người.</p>
                    <p class="text-center" style="color: rgb(255,253,253);">Một máy chủ Minecraft sinh tồn đa nền tảng, được phát triển bởi <strong>Quân Triệu</strong> (<strong>QuanTrieuPCYT</strong>).</p>
                    <div class="buttons"><a class="btn btn-light" role="button" href="/discord">Discord</a><a class="btn btn-light" role="button" href="/facebook">Facebook</a><a class="btn btn-light" role="button" href="https://thiccwiki.qtpc.tech" style="background: rgb(221, 221, 221);">Wiki</a></div>
                </div>
            </div>
        </section>
        <section id="info" class="highlight-clean" style="background: rgb(41,41,41);padding-bottom: 0px;border-bottom-color: rgb(41,41,41);min-width: 400px;padding-top: 100px;">
            <div class="container" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);border-top-left-radius: 40px;border-top-right-radius: 40px;padding-top: 40px;padding-bottom: 5px;border-bottom-width: 5px;border-bottom-style: solid;">
                <div class="intro" style="min-width: 350px;max-width: 600px;">
                    <h2 class="text-center" style="color: rgb(41,41,41);margin-bottom: 10px;">Giới thiệu</h2>
                    <p class="text-center" style="color: rgb(41,41,41);">Chào mừng! Hãy xem qua Thicc SMP có gì nào.</p>
                </div>
            </div>
        </section>
        <section class="highlight-clean" style="background: rgb(41,41,41);padding-top: 0px;padding-bottom: 0px;min-width: 400px;">
            <div class="container d-flex" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);padding-right: 30px;padding-left: 30px;padding-top: 100px;padding-bottom: 50px;border-bottom: 5px solid rgb(41,41,41);">
                <div class="row">
                    <div class="col-md-6" style="padding-bottom: 12px;"><img class="img-fluid" src="assets/img/survival_and_building.png"></div>
                    <div class="col-md-6 align-self-center">
                        <div class="intro">
                            <h2 class="text-center">Sinh tồn và Xây dựng</h2>
                            <p class="text-center" style="font-size: 18px;">Bạn có thể thỏa thích sáng tạo và xây những công trình khổng lồ hoặc tìm kiếm nguồn tài nguyên để xây dựng cho mình một đế chế khổng lồ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="highlight-clean" style="background: rgb(41,41,41);padding-top: 0px;padding-bottom: 0px;min-width: 400px;">
            <div class="container d-flex" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);padding-right: 30px;padding-left: 30px;padding-top: 100px;padding-bottom: 50px;border-bottom: 5px solid rgb(41,41,41);">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="text-center intro">
                            <h2 class="text-center">Cộng đồng sôi nổi</h2>
                            <p class="text-center" style="margin-bottom: 25px;">Hơn 2,000 thành viên cùng nhau trò chuyện trong server Discord của Thicc SMP mỗi ngày.</p><a class="btn btn-dark" role="button" style="font-size: 20px;padding-top: 10px;padding-bottom: 10px;padding-right: 16px;padding-left: 16px;"
                                href="/discord">Discord</a>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-bottom: 12px;"><img class="img-fluid" src="assets/img/pic.png"></div>
                </div>
            </div>
        </section>
        <section class="highlight-clean" style="background: rgb(41,41,41);padding-top: 0px;padding-bottom: 0px;min-width: 400px;">
            <div class="container d-flex" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);padding-right: 30px;padding-left: 30px;padding-top: 100px;padding-bottom: 50px;border-bottom: 5px solid rgb(41,41,41);">
                <div class="row">
                    <div class="col-md-6" style="padding-bottom: 12px;"><img class="img-fluid" src="assets/img/multiple_platforms.png" style="margin-bottom: 5px;">
                        <p style="font-size: 13px;"><em>* Ảnh trên sử dụng Minecraft Java 1.17.1 và Minecraft Bedrock 1.17.41 (7/11/2021)</em></p>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="intro">
                            <h2 class="text-center">Đa nền tảng</h2>
                            <p class="text-center">Thicc SMP hỗ trợ Minecraft Java và cả Minecraft Bedrock nên bạn có thể mời bạn bè cùng chơi cho dù có khác nền tảng.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="highlight-clean" style="background: rgb(41,41,41);padding-top: 0px;padding-bottom: 50px;min-width: 400px;">
            <div class="container" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);padding-right: 30px;border-bottom: 5px solid rgb(41,41,41);border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;padding-left: 30px;padding-bottom: 10px;padding-top: 100px;">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="intro">
                            <h4 class="text-center" style="margin-bottom: 0px;">Gặp gỡ linh vật Thicc SMP</h4>
                            <h2 class="text-center">Numemo Alynaa</h2>
                            <p class="text-center">Một cô nàng "Neko" khi cô ấy bỏ headphone xuống?<br></p>
                            <p class="text-center">Có thể cô ấy sẽ là waifu mới của bạn chăng? ( ͡° ͜ʖ ͡°)<br></p>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-bottom: 12px;"><img class="img-fluid" src="assets/img/xd.png" style="margin-bottom: 5px;">
                        <p class="text-end" style="font-size: 13px;"><em>*Ảnh Alynaa được vẽ bởi Liare</em></p>
                    </div>
                </div>
            </div>
        </section>
        <section id="faq" class="highlight-clean" style="background: rgb(41,41,41);padding-bottom: 0px;border-bottom-color: rgb(41,41,41);min-width: 400px;padding-top: 100px;">
            <div class="container" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);border-top-left-radius: 40px;border-top-right-radius: 40px;padding-top: 40px;padding-bottom: 5px;border-bottom-width: 5px;border-bottom-style: solid;">
                <div class="intro" style="min-width: 350px;max-width: 600px;">
                    <h2 class="text-center" style="color: rgb(41,41,41);margin-bottom: 10px;">FAQ</h2>
                    <p class="text-center" style="color: rgb(41,41,41);">Những câu hỏi thường gặp.<br>Bạn có thắc mắc? Liên hệ với ban quản trị trên Discord.</p>
                </div>
            </div>
        </section>
        <section id="faq" class="article-clean" style="height: auto;background: rgb(41,41,41);min-width: 400px;width: 100%;padding-bottom: 50px;">
            <div class="container" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);padding-top: 50px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;padding-right: 5px;padding-left: 5px;min-width: 400px;">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2" style="min-width: 300px;height: auto;margin: auto;padding-bottom: 30px;">
                    <div class="text">
                        <figure class="figure d-block"></figure>
                    </div>
                    <div class="accordion" role="tablist" id="accordion-1" style="margin: auto;min-width: 300px;max-width: 1000px;">
                        <div class="accordion-item text-start" style="margin-top: 15px;margin-bottom: 15px;border-top-style: none;border-right-style: none;border-bottom-width: 5px;border-bottom-color: rgba(41,41,41,0.5);border-left-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1" style="font-size: 18px;color: rgb(41,41,41);border-bottom-color: rgb(5,34,21);background: #ffffff;"><br><strong>Cấu hình của máy chủ như thế nào?</strong></button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0" style="font-size: 17px;color: rgb(5,34,21);"><strong>Sony VAIO SVT14126CVS</strong><br><strong>CPU:</strong>&nbsp;Intel® Core™ i5-3337U<br><strong>RAM:&nbsp;</strong>2x 4GB DDR3 1600MHz SODIMM<br><strong>SSD:&nbsp;</strong>Lexar NQ100 240GB<br><strong>GPU:&nbsp;</strong>Intel
                                        HD Graphics 4000<br><strong>OS:&nbsp;</strong>Debian Bullseye<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item text-start" style="margin-bottom: 15px;margin-top: 15px;border-top-style: none;border-right-style: none;border-bottom-width: 5px;border-bottom-color: rgb(41,41,41,0.5);border-left-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2" style="color: rgb(41,41,41);font-size: 18px;background: #ffffff;"><strong>Phần mềm Minecraft mà máy chủ đang dùng?</strong></button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0" style="font-size: 17px;color: rgb(41,41,41);">Máy chủ được vận hành với&nbsp;<a href="https://github.com/ThiccMC/AlynaaMC" style="color: rgb(41,41,41);font-weight: bold;" target="_blank">AlynaaMC</a>&nbsp;- một bản "mod" riêng của&nbsp;&nbsp;<a href="https://gitlab.com/Titaniumtown/JettPack"
                                            style="color: rgb(41,41,41);font-weight: bold;" target="_blank">JettPack</a>, được thiết kế đặc biệt dành cho SMP để có thể đạt được performance tốt nhất.<br></p>
                                    <p class="mb-0" style="font-size: 17px;color: rgb(41,41,41);margin-top: 15px;">Để hỗ trợ Bedrock, máy chủ sử dụng&nbsp;<a href="#" style="color: rgb(41,41,41);"><strong>Geyser</strong></a><strong>&nbsp;-&nbsp;</strong>một&nbsp;bộ phiên dịch bedrock (Bedrock packet translator) chạy song song với
                                        phần mềm máy chủ Java.<br></p>
                                    <p class="mb-0" style="font-size: 17px;color: rgb(41,41,41);margin-top: 15px;">Vì vấn đề bảo mật nên plugins sẽ được giữ bí mật.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item text-start" style="margin-top: 15px;margin-bottom: 15px;border-top-style: none;border-right-style: none;border-bottom-width: 5px;border-bottom-color: rgb(41,41,41,0.5);border-left-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3" style="font-size: 18px;color: rgb(41,41,41);background: #ffffff;"><strong>Thicc SMP có phải là server crack?</strong></button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0" style="font-size: 17px;color: rgb(5,34,21);">Đúng. Một số bạn không thể mua được cho mình một tài khoản Minecraft nên server sử dụng hệ thống xác thực Discord để xác minh người chơi.&nbsp;<a href="#" style="color: rgb(41,41,41);font-weight: bold;">Bạn cần một tài khoản Discord để tham gia server.</a><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item text-start" style="margin-bottom: 15px;margin-top: 15px;border-top-style: none;border-right-style: none;border-bottom-width: 5px;border-bottom-color: rgb(41,41,41,0.5);border-left-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4" style="font-size: 18px;color: rgb(41,41,41);background: #ffffff;"><strong>Có thể sử dụng hack/cheat chứ?</strong></button></h2>
                            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0" style="font-size: 17px;color: rgb(5,34,21);"><strong>Hack hoặc lợi dụng lỗi của server là việc NGHIÊM CẤM và sẽ dẫn đến việc bạn bị cấm khỏi server.</strong><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item text-start" style="margin-top: 15px;margin-bottom: 15px;border-top-style: none;border-right-style: none;border-bottom-width: 5px;border-bottom-color: rgb(41,41,41,0.5);border-left-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5" aria-expanded="false" aria-controls="accordion-1 .item-5" style="font-size: 18px;color: rgb(41,41,41);background: #ffffff;"><strong>Có thể dùng Minecraft Bedrock để vào server chứ?</strong></button></h2>
                            <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0" style="font-size: 17px;color: rgb(5,34,21);">Vâng! Vì server là một máy chủ SMP đa nền tảng, bạn có thể vào server với phiên bản Bedrock. Sử dụng IP: thiccsmp.qtpc.tech và Port: 19132 để kết nối.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item text-start" style="margin-bottom: 15px;margin-top: 15px;border-top-style: none;border-right-style: none;border-bottom-width: 5px;border-bottom-color: rgb(41,41,41,0.5);border-left-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-6" aria-expanded="false" aria-controls="accordion-1 .item-6" style="font-size: 18px;color: rgb(41,41,41);background: #ffffff;"><strong>Thế giới SMP có tồn tại mãi không?</strong></button></h2>
                            <div class="accordion-collapse collapse item-6" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0" style="font-size: 17px;color: rgb(5,34,21);">Vì dung lượng có giới hạn (240GB), server sẽ phải reset mỗi khi có một bản cập nhật Minecraft mới. Sau khi reset, file của thế giới cũ sẽ có sẵn để tải xuống trong 1 tuần.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="support" class="highlight-clean" style="background: url(&quot;assets/img/minecraft.gif&quot;) center / cover no-repeat, rgb(41,41,41);border-bottom-color: rgb(41,41,41);min-width: 400px;">
            <div class="container" data-aos="fade-up" data-aos-duration="300" data-aos-once="true" style="background: rgb(221,221,221);border-top-left-radius: 40px;border-top-right-radius: 40px;padding-top: 40px;padding-bottom: 5px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;min-width: 400px;">
                <div class="intro" style="min-width: 350px;max-width: 900px;">
                    <h2 class="text-center" style="color: rgb(41,41,41);margin-bottom: 25px;">Ủng hộ&nbsp;<strong>☕</strong><br></h2>
                    <p class="text-start" style="color: rgb(41,41,41);">Mặc dù Thicc SMP là một SMP chơi miễn phí, máy chủ cũng có những khoản phí cần phải trả để có thể vận hàn và bảo trì. Nếu mọi người cùng ủng hộ thì máy chủ sẽ tốt hơn.</p>
                    <p class="text-start" style="color: rgb(41,41,41);margin-bottom: 25px;">Khi bạn ủng hộ, bạn đã đóng góp một phần vào việc vận hành, bảo trì và phát triển máy chủ!<br>Để cảm ơn sự đóng góp của bạn, Thicc SMP sẽ cho bạn <strong>role Discord</strong> và <strong>Rank trong game</strong> dành cho <strong>Người ủng hộ (Donator)</strong>.</p>
                    <p class="text-center" style="color: rgb(41,41,41);font-size: 23px;">Bạn vận hành&nbsp;<strong>Thicc SMP</strong>!&nbsp;❤️<br><br><button class="btn btn-dark" type="button" onclick="alert('Coming soon!');" style="font-size: 18px;padding-top: 12px;padding-bottom: 12px;padding-right: 20px;padding-left: 20px;border-radius: 10px;">❤️ Đi thôi nào! ❤️<br></button></p>
                </div>
            </div>
        </section>
        <footer class="footer-basic" style="background: rgb(41,41,41);min-width: 400px;">
            <p class="copyright" style="font-size: 15px;color: #fff;">© Copyright 2022 ThiccMC - All Rights Reserved!<br>Maintained and designed with&nbsp;❤️ by Ty Nguyen - LT#0100.<br></p>
            <p class="copyright" style="font-size: 15px;color: rgba(255,255,255,0.5);"><i id="time-icon" class="fas"></i><em>&nbsp;<span id="time">00:00:00</span> - <span id="timezone">GMT</span> | Location: {{location}}</em><br></p>
        </footer>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap-better-nav.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/sweetalert2.min.js"></script>
    <script>
        function copyIP() {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($('#ip').html()).select();
            document.execCommand("copy");
            $temp.remove();

            Swal.fire({
                icon: 'success',
                title: '<span style="color:#fff; font-size: 25px">Đã copy IP!</span>',
                html: '<span style="color:white; font-size: 14px">Chúc bạn vui vẻ tại Thicc SMP!</span>',
                background: 'rgb(41,41,41)',
                timer: 3000,
                showConfirmButton: false
            })
        }

        if (window.innerWidth > 767) {
            $('#home-nav').css("border-bottom-color", "#fff");
            $('#home-nav').css("border-bottom-style", "solid");
        }

        window.onresize = function(e) {
            if (window.innerWidth > 767) {
                $('#home-nav').css("border-bottom-color", "#fff");
                $('#home-nav').css("border-bottom-style", "solid");
            } else {
                $('#home-nav').css("border-bottom-style", "none");
            }
        }

        window.onscroll = function(e) {
            if (window.scrollY < 950 && window.innerWidth > 767) {
                $('#home-nav').css("border-bottom-color", "#fff");
                $('#home-nav').css("border-bottom-style", "solid");
            } else {
                $('#home-nav').css("border-bottom-style", "none");
            }

            if (window.scrollY >= 950 && window.scrollY < 3500 && window.innerWidth > 767) {
                $('#info-nav').css("border-bottom-color", "#fff");
                $('#info-nav').css("border-bottom-style", "solid");
            } else {
                $('#info-nav').css("border-bottom-style", "none");
            }

            if (window.scrollY >= 3500 && window.scrollY < 4000 && window.innerWidth > 767) {
                $('#faq-nav').css("border-bottom-color", "#fff");
                $('#faq-nav').css("border-bottom-style", "solid");
            } else {
                $('#faq-nav').css("border-bottom-style", "none");
            }

            if (window.scrollY >= 4000 && window.innerWidth > 767) {
                $('#support-nav').css("border-bottom-color", "#fff");
                $('#support-nav').css("border-bottom-style", "solid");
            } else {
                $('#support-nav').css("border-bottom-style", "none");
            }
        };

        setInterval(() => {
            var date = new Date();
            $("#time").text((date.getHours() < 10 ? '0' : '') + date.getHours() + ":" + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes() + ":" + (date.getSeconds() < 10 ? '0' : '') + date.getSeconds());
            if (date.getHours() < 18 && date.getHours() >= 6) {
                $("#time-icon").removeClass("fa-moon");
                $("#time-icon").addClass("fa-sun");
            } else {
                $("#time-icon").removeClass("fa-sun");
                $("#time-icon").addClass("fa-moon");
            }

            var timezone = date.getTimezoneOffset();
            timezone = (timezone / 60) * -1;
            var gmt = 'GMT';
            if (timezone !== 0) {
                gmt += timezone > 0 ? '+' : '';
                gmt += timezone;
            }
            $("#timezone").text(gmt);
        }, 1000);
    </script>
</body>

</html>